body{
    margin: 0;
    font-family: 'Space Grotesk';
    background-color: #BDBFBE;
}

header {
    display: flex;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 25px;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1440px;
    margin-inline: auto;
    gap: 16px;
}

header p {
    color: #4A4536;
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 14px;
}

.img-profile {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-end;
    padding-bottom: 32px;
    border-bottom: 1px solid #4A4536;
}

.img-profile img {
    max-width: 254px;
    border: 8px solid #4A4536;
    border-radius: 32px;
}

.img-profile > p {
    max-width: 315px;
    font-weight: 400;
    font-size: 1rem;
}

.logo > img {
    width: 3rem;
    
}

.nav-cont{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
    border-bottom: 1px solid #4A4536;
    position: sticky;
    top: 0;
    background-color: #BDBFBE;
    max-width: 1440px;
    margin-inline: auto;
    
}

.logo {
    height: 32px;
}

.nav-cont > p {
    font-size: 6rem;
    font-weight: 700;
    text-align: right;
}

.nav-cont nav {
    padding-top: 0;
}

ul {
    margin: 0;
    padding: 0;  
}

nav {
    padding-top: 2rem;
}

li a{
    color: #4A4536;
    text-decoration: none;
    font-weight: 700;
}

li a:hover {
    text-decoration: underline;
}

li {
    display: inline;
    list-style-type: none;
    margin-left: 2rem;
  }

main {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin-inline: auto;
    padding: 32px;
    padding-top: 0;
}

.skill {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 16px;
    border-bottom: 1px solid #4A4536;
}

.skill h3 {
    margin: 0;
    color: #4A4536;
}

.skill > p {
    color: #4A4536;
    margin: 0;
    font-size: 5rem;
    font-weight: 400;
    line-height: 5.5rem;
}

.skill span {
    font-family: Playfair Display;
    font-style: italic;
}

.work {
    padding-top: 24px;
    padding-bottom: 32px;
    border-bottom: 1px solid #4A4536;
}

.work h3 {
    margin: 0;
    color: #4A4536;
}

.img-cont {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 24px;
}

.img-cont1, .img-cont2, .img-cont3, .img-cont4 {
    display: flex;
    flex-direction: column;
    width: 23%;
    gap: 16px;
}

.img-cont1 img, .img-cont2 img, .img-cont3 img, .img-cont4 img {
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.img-cont1 p, .img-cont2 p, .img-cont3 p, .img-cont4 p {
    margin: 0;
    color: #4A4536;
}

.bold-text {
    color: #4A4536;
    font-weight: 700;
}



.contact {
    display: flex;
    padding-top: 30px;
    flex-direction: column;
}

.contact img {
    height: 260px;
    border-radius: 32px;
}

.contact h3 {
    margin: 0;
    color: #4A4536;
}

.contact-page {
    display: flex;
    padding-top: 24px;
    color: #4A4536;
    gap: 16px;
}

.input {
    max-width: 420px;
}

.input p{
    margin: 0;
}

form {
    padding-right: 16px;
}

input[type=text], input[type=email] {
    border: none;
    border-bottom: 1px solid #4A4536;
    width: 100%;
    padding: 16px;
    padding-left: 0;
    background: none;
}

input[type=text]::placeholder, input[type=email]::placeholder {
    font-family: Space Grotesk;
    font-size: 1rem;
}

input[type=submit]{
    background-color: #4A4536;
    padding: 16px 48px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    color: #BDBFBE;
    font-weight: 700;
    font-size: 1rem;
    font-family: Space Grotesk;
}

input[type=submit]:hover {
    background-color: #3d392c;
}

footer {
    display: flex;
    background-color: #4A4536;
    color: #BDBFBE;
    padding: 32px;
    max-width: 1440px;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.sosmed-cont {
    display: flex;
    gap: 32px;
}
@media screen and (max-width: 834px ){
    header > p {
        font-size: 2.5rem;
    }

    .skill > p {
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .img-cont img {
        border-radius: 16px;
    }

    .img-cont1, .img-cont2, .img-cont3, .img-cont4 {
        width: 46%;
    }
}

@media screen and (max-width: 704px ){
    .logo {
        height: 32px;
    }

    .skill {
        gap: 10px;
    }

    .skill > p {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    
}
    

@media screen and (max-width: 675px ){
    header > p {
        font-size: 2rem;
        padding-top: 0;
    }

    .img-profile {
        gap: 16px;
    }

    .img-profile > img {
        max-width: 222px;
    }

    

    .nav-cont {
        padding-left: 16px;
        padding-right: 16px;
    }

    header {
        padding: 16px;
        padding-bottom: 10px;
    }

    main {
        padding: 16px;
    }

    .social {
        top: -8px;
    }
}

@media screen and (max-width: 554px ){
    .contact-page {
        flex-wrap: wrap;
    }

    .img-profile > img {
        max-width: 206px;
    }

    .img-profile {
        flex-wrap: wrap;
    }

    .img-profile > p {
        max-width: 100%;
        padding: 0;
    }

    .profile {
        flex-wrap: wrap;
    }

    .profile img {
        max-width: 206px;
    }

    .profile p {
        max-width: 615px;
    }
}

@media screen and (max-width: 425px) {
    .img-cont1, .img-cont2, .img-cont3, .img-cont4 {
        width: 98%;
    }
}